<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebSocket+广播式</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body onload="disconnect()">
<noscript><h2 style="color:#ff00000">你的浏览器不支持websocket</h2> </noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">连接</button>
        <button id="disconnect" onclick="disconnect();" disabled="disabled">断开连接</button>
    </div>

    <div id="conversationDiv">
        <label>输入你的名字</label><input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">发送</button>
        <p id="response"></p>
    </div>
</div>

<script th:src="@{js/jquery.js}" type="text/javascript"></script>
<script th:src="@{js/sockjs.min.js}" type="text/javascript"></script>
<script th:src="@{js/stomp.min.js}" type="text/javascript"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    var stompClient=null;
    function setConnected(connected) {
        $("#connect").attr('disabled',connected);
        $("#disconnect").attr('disabled',!connected);
        document.getElementById('conversationDiv').style.visibility = connected ?'visible':'hidden';
        $("#response").html();
    }

    function showResponse(message) {
        var response = $("#response");
        response.html(message);
    }
    function connect() {
        var socket = new SockJS("/endpoint");
        stompClient = Stomp.over(socket);
        stompClient.connect({},function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/getResponse',function (response) {
                showResponse(JSON.parse(response.body).responseMessage);
            })
        })
    }
    function disconnect() {
        if(stompClient!=null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnted");
    }
    function sendName() {
        var name = $("#name").val();
        stompClient.send("/welcome", {}, JSON.stringify({'name': name}));
    }
</script>
</body>
</html>